
.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 88vh;
  /* background-color:blueviolet; */

}

.box{
  width:40vw;
  height:50vh;
  background-color: burlywood;
  color: aliceblue; 
}

.controls{
  width: 40vw;
  

}